.mainWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-500);
}

.bookDetailsWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-500);
    background-color: var(--primary-700);
    border-radius: var(--radius-lg);
    padding: var(--padding-500);
}

.greenText {
    color: var(--green-font-clr-500);
}

.redText {
    color: var(--red-font-clr-500);
}