.packageWrapper {
    background-color: var(--primary-300);
    /* border-radius: var(--radius-md); */
}

.titleWrapper {
    display: flex;
    align-items: center;
}

.interactiveElement {
    cursor: pointer;
}

.interactiveElement:hover {
    background-color: var(--primary-100);
}

.liElem {
    padding-left: 40px;
    display: block;
    /* width: 100%; */
}

.liElem a {
    display: block;
    width: 100%;
}

.packageNameSpan {
    font-weight: bold;
}

.packageUl {
    list-style: none;
    padding: 0;
}