.bookList {
    list-style: none;
    padding: 0;
}

.bookListItem {
    padding: 0 var(--padding-500);
}

.greenText {
    color: var(--green-font-clr-500);
}

.redText {
    color: var(--red-font-clr-500);
}
